$lg-font: var(--20px);
$md-font: var(--13px);
$sm-font: var(--11px);

$violet: var(--clr-violet);
$grayish: var(--clr-grayish-blue);
$blackish: var(--clr-blackish-blue);
$white: var(--clr-white);

$breakpoint-desktop: var(--desktop);
$breakpoint-tablet: var(--tablet);
$breakpoint-mobile: var(--mobile);

$sm-padding: var(--sm-side-padding);
$lg-padding: var(--lg-side-padding);
